header{
background: rgb(90,90,90);
    color:white;
    border-bottom:lime 3px solid;
    min-height: 120px;
}
.test{
        width:100%;
        margin:auto; 
        overflow: hidden;
}
body {
    font-family: Times;
    background-color: rgb(50,50,50);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: rgb(255,255,255);
}

header li{ 
    display: inline;
    color:lime;
    font-size: 16px;
}

header .highlight{
    color:navy;
    font-weight:bold;
    font-size: 20px;
}

header .nothighlight{
    color:teal;
    font-size: 20px;
}

.thing {
    background-color: rgb(70,70,70);
    color: white;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
} 

footer pre{
    color:lime;
    font-size: 10px;
    background-color: rgb(90,90,90);
    min-width: 390px;
    border-top:lime 3px solid;
    float:left;
    margin-bottom: 0px;
}

.container img {
  display: block;
margin-left: auto;
margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float:left
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(140,140,140);
}
nav {
    background-color: lime;
    border-top:lime 3px solid;
    width: 100%;
}
.back1{
    background:url(http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg) no-repeat -150px -20px;
    min-height: 500px;
    max-height: 600px;
    border: 2px solid black;
    width: 100%;
}
.box1{
  margin: 40px;
  background: rgba(76, 175, 80, 0.3);
  border: 1px solid black;
}
.box1 p{
    margin: 5%;
  font-weight: bold;
  color: white;
}
.box2{
  margin: 40px;
  background: rgba(76, 175, 80, 0.3);
  border: 1px solid black;
}
.box2 p{
    margin: 5%;
  font-weight: bold;
  color: white;
}
